body{
    width: auto;
    height: auto;
    margin: -1.625em 0 0 0;
    font-family: 'Minecraft', sans-serif;
    font-size: 19px;
}
header{
    position: relative;
    top: 0%;
    height: 5rem;
    background: url("/PasswordGenerator/images/header.jpg");
    margin-top: -21px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 15);
}
header h1{
    position: relative;
    text-align: center;
    top: 50%;
    font-family: 'Minecraft', sans-serif;
    color: aliceblue;
}
main{
    background: url("/PasswordGenerator/images/bgwide.jpg");
    padding: 5%;
}
.contenedor{
    position: relative;
    width: 25rem;
    height: 30.625rem;
    left: 18.75rem;
    padding: 5%;
    background-color: #855100;
    border-radius: 10px;
    opacity: 90%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 15);

}
.contenedor p{
    text-align: center;
    font-weight: 400;
}
.images{
    position: relative;
    padding: 4%;
}
.images img{
    position: relative;
    margin-left: 2.5rem;
}
.contenedor input{
    margin: 5% 0 5% 0;
    width: 94%;
    height: 1.5625rem;
    display: block;
    border-radius: 25px;
    text-align: right;
    font-size: 1.25rem;
    padding: .625rem .3125rem 0 0;
    color: black;
}
.contenedor button{
    position: relative;
    width: 9.375rem;
    height: 1.875rem;
    margin: 1.25rem;
    display: block;
    left: 7.5rem;
    border-radius: 25px;
    font-family: 'Minecraft', sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 15);
    transition: .5s;
    cursor: pointer;
}
.contenedor button:hover{
    transform: scale(1.2);
}
.contenedor button:active{
    background-color: gray;
}
#enderman{
    position: relative;
    left: 8em;
    margin-top: 2.3rem;
    transition: .5s;
}
#enderman:hover{
    opacity: 0%;
}
footer{
    margin: -2rem;
    height: 9.375rem;
    font-size: 1.25rem;
    text-align: center;
    background: url("/PasswordGenerator/images/footer.jpg");
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 15);
}
footer h4{
    position: relative;
    top: 3.75rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

